.search-form {
    margin: 2% auto;
    border: 2px solid black;
    max-width: 450px;
    box-sizing: border-box;
}

.search-form input {
    padding: 8px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border: none;
}