
.search-form {
    margin: 2% auto;
    border: 2px solid black;
    width: 90%;
    max-width: 450px;
    box-sizing: border-box;
}

.search-form input {
    padding: 8px;
    font-size: 1em;
    width: 100%;
    box-sizing: border-box;
    border: none;
}

/* Välja kategori */
.genre {
    margin-bottom: 3%; 
    margin-top: 3%;
}

.genre label {
    font-size: 18px;
    margin-right: 10px;
}

.genre select {
    font-size: 16px;
    padding: 10px;
    border: 1px solid #b9b8b8;
    border-radius: 5px;
    width: 150px;
}

