main {
    text-align: center;
    margin: 20px auto;
    padding: 20px;
}

h1 {
    font-size: 2em;
    margin-bottom: 2em;
}

h2 {
    font-size: 1.6em;
}

h3 {
    font-size: 1.4em;
}

@media screen and (max-width: 768px) {
    h1 {
        font-size: 1.8em;
    }

    h2 {
        font-size: 1.4em;
    }

    h3 {
        font-size: 1.2em;
    }
    
}